[submodule "CMSIS-DSP"]
	path = CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP
[submodule "cmsis/CMSIS-DSP"]
	path = cmsis/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP
[submodule "cmsis/CMSIS_5"]
	path = cmsis/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5
